nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.navigation ul{
    display: flex;
    list-style-type: none;
}

.navigation ul li{
    margin: 0 10px;
}

.navigation ul li a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.9);
}

.menu-bar{
    font-size: 22px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .navigation ul{
        flex-direction: column;
        align-items: center;
        display: none;
        justify-content: center;
        gap: 3%;

        position: absolute;
        top: 35px;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.9);
    }

    ul li a{
        color: white;
        font-size: 25px;
    }

    ul li a:hover{
        color: rgb(228, 226, 226);
    }

    .showNav{
       display: flex !important;
    }
  }